<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Accueil.css">
    <title>MacroMania - Jeux Vidéos</title>
</head>
<body>

<nav>
    <ul>
        <li><a href="Accueil.html">Accueil</a></li>
        <li><a href="liste-jeux.html">Liste des Jeux</a></li>
        <li><a href="historique-achats.html">Historique des Achats</a></li>
        <li><a href="espace-admin.html">Espace Admin</a></li>
    </ul>
</nav>

<div class="content">
    <h1>Bienvenue sur MacroMania - Jeux Vidéos</h1>
    <!-- Contenu de la page d'accueil -->
</div>

<footer>
    <p>&copy; 2024 MacroMania - Jeux Vidéos</p>
</footer>

</body>
</html>
