<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Accueil.css">
    <title>MacroMania - Jeux Vidéos</title>
</head>
<body>

<nav>
    <ul>
        <li><a href="Accueil.html">Accueil</a></li>
        <li><a href="liste-jeux.html">Liste des Jeux</a></li>
        <li><a href="historique-achats.html">Historique des Achats</a></li>
        <li><a href="espace-admin.html">Espace Admin</a></li>
        <li><a id="log" href="" >Login</a></li>
    </ul>
</nav>

<div class="content">
    <h1>Bienvenue sur MacroMania - Jeux Vidéos</h1>

    <section id="presentation">
        <h2>À propos de nous</h2>
        <p>MacroMania est votre destination ultime pour les jeux vidéo, offrant une vaste sélection de titres physiques et dématérialisés. Nous sommes passionnés par le monde du jeu et nous nous efforçons de vous fournir la meilleure expérience.</p>
    </section>

    <section id="nouveautes">
        <h2>Nouveautés</h2>
        <p>Découvrez les derniers jeux vidéo qui viennent de sortir. Que vous préfériez les jeux sur console, PC ou mobile, nous avons quelque chose pour chaque joueur.</p>
    </section>

    <section id="offres-speciales">
        <h2>Offres Spéciales</h2>
        <p>Profitez de nos offres spéciales et promotions exclusives. Ne manquez pas l'occasion d'obtenir vos jeux préférés à des prix avantageux.</p>
    </section>

    <section id="contact">
        <h2>Contactez-nous</h2>
        <p>Pour toute question ou assistance, n'hésitez pas à nous contacter. Notre équipe dédiée est là pour vous aider.</p>
    </section>
</div>

<footer>
    <p>&copy; 2024 MacroMania - Jeux Vidéos</p>
</footer>
<script defer  src="./logout.js">

</script>

</body>
</html>
