<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Jeu</title>
    <link rel="stylesheet" href="addjeu.css">
</head>
<body>

<h1>Ajouter un Jeu</h1>

<form id="ajoutJeuForm">
    <label for="nom">Nom du Jeu:</label>
    <input type="text" id="nom" required>

    <label for="categorie">Catégorie:</label>
    <input type="text" id="categorie" required>

    <label for="agelimite">Âge Limite:</label>
    <input type="number" id="agelimite" required>

    <label for="plateforme">Plateforme:</label>
    <input type="text" id="plateforme" required>

    <label for="nombrejoueur">Nombre de Joueurs:</label>
    <input type="number" id="nombrejoueur" required>

    <label for="formejeux">Format du Jeu:</label>
    <input type="text" id="formejeux" required>

    <label for="prix">Prix:</label>
    <input type="number" id="prix" required>

    <label for="description">Description:</label>
    <textarea id="description" required></textarea>

    <label for="avis">Avis:</label>
    <input type="text" id="avis" required>

    <label for="date">Date de Sortie:</label>
    <input type="date" id="date" required>

    <label for="stock">Stock:</label>
    <input type="number" id="stock" required>

    <button type="button" onclick="addJeux()">Ajouter le Jeu</button>
</form>

<div id="listeJeux">
    <!-- Les jeux ajoutés seront affichés ici -->
</div>


<script defer src="./admin.js"> </script>
</body>
</html>
