<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Accueil.css">
    <title>Espace Admin - MacroMania</title>
</head>
<body>

<nav>
    <ul>
        <li><a href="Accueil.html">Accueil</a></li>
        <li><a href="liste-jeux.html">Liste des Jeux</a></li>
        <li><a href="historique-achats.html">Historique des Achats</a></li>
        <li><a href="espace-admin.html">Espace Admin</a></li>
        <li><a href="Addjeu.html">Ajouter jeu</a></li>
        <li><a href="Inscription.html">Inscription</a></li>

        <li><a id="log" href="javascript:void(0);" onclick="logout()">Login</a>
        </li>    </ul>
</nav>

<div class="content">
    <h1>Espace Admin</h1>
<br>
    <h1>Liste des jeux</h1>

    <section id="espace-admin">
        <table>
            <thead>
                <tr>
                    <th>Numéro Jeu</th>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Age Limite</th>
                    <th>Plateforme</th>
                    <th>stock</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>
    <br>
    <h1>Historique des ventes</h1>

    <section id="historique-admin">
        <table>
            <thead>
                <tr>
                    <th>Nom du Jeu</th>
                    <th>Nom d'Utilisateur</th>
                    <th>Date</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        
    </section>

</div>

<footer>
    <p>&copy; 2024 MacroMania - Jeux Vidéos</p>
</footer>

<script src="./liste_jeu.js"></script>
</body>
</html>
