<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nom du Jeu - Connexion</title>
    <link rel="stylesheet" href="login.css"> <!-- Ajoutez votre feuille de style CSS ici -->
</head>


<body >

    <div class="login-container">
      
        <h2>Connectez-vous à votre compte</h2>

        <form id="loginForm">
            <label for="email">email:</label>
            <input type="text" id="email" name="email" required>


            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Connexion</button>
        </form>

</body>
</html>
